{% extends 'admin-base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">

  <div class="content-wrapper">

    <form action="{% url 'faq_category_edit' cat.id %}" method="post">
      {% csrf_token %}
    <section class="content container-fluid">
      <div class="manage_admin">
         <div class="add_min d-flex justify-content-between"> 
    <h3>Faq Category Edit</h3>
    </div>
     <!--  {% if messages %}
    {% for message in messages %}
      {{ message }}
      {% endfor %}
                    
          {% endif %} -->
    <div class="row">
    <div class="col-12 col-sm-6 col-md-6">

                  <div class="form-group">
                    <label>*Status</label>
                    <select class="form-control" name="status" required>
                      <option value="active"  {% if cat.status %} selected {% endif %}>Active</option>
                    <option value="deactive"  selected>Deactive</option>
                    </select>
                    </select>
                  </div>
                 
                  <div class="form-group">
                    <label>*Short Order</label>
                     <input type="number" min="1" class="form-control" value="{{cat.sort_order}}" name="order" required>
                  </div>
                </div>
                  
    <div class="col-12 col-sm-6 col-md-6">
       
      <div class="form-group">
                    <label>*Category</label>
                    <input type="text" class="form-control" value="{{cat.category_name}}"  name="category" required="" placeholder="category name">
                  </div>
       
    </div>

  </div>
  
       
        <button type="submit" class="edit  btn btn-success" ><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Save</button> 
        <button class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
     
      </div>
    </section>
    <!-- /.content -->
  </div>
</form>
 
 {% endblock %}


 {% block extrascript %}
<script type="text/javascript">
  $('.delete').on('click', function() {
    window.history.back();
  });
</script>
{% endblock %}