{% extends 'admin-base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <div class="content-wrapper">
    
    <section class="content container-fluid">
      <div class="manage_admin">
        <div class="add_min d-flex justify-content-between"> 
    <h3>Product List</h3>
   <a href="{% url 'add_product' %}"><button class="btn btn-success">Add</button></a>
    </div>
        <table class="table">
  <thead>
    
    <tr>
      <th scope="col">Sr.No</th>
      <th scope="col">Product Name</th>
      <th scope="col">Dimension (W / H)</th>
      <th scope="col">Price</th>
      <th scope="col">Process Time</th>
      <th scope="col">Backdrop Type</th>
      <th scope="col"></th>
      <th scope="col">Enable</th>
    </tr>
  </thead>
  <tbody>
    {% for pro in product %}
    <tr>
      <td scope="row">{{forloop.counter}}</td>
      <td>{{pro.product_name}}</td>
      <td class="d-flex price_asbd"><span><input type="text" class="form-control" value="{{pro.width}}" placeholder="5"></span>
        <span class="ml-2"><input type="text" class="form-control" value="{{pro.height}}" placeholder="7"></span>
      </td>
      <td class="price_asbd"><input type="text" class="form-control" value="{{pro.price}}" placeholder="1"></td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="15" value="{{pro.process_time}}"></td>
      <td>{{pro.backdrop_type}}</td>
      <td><a href="{% url 'edit_product' pro.id %}">Edit</a></td>
      <td class="text-center"><input class="check_b" type="checkbox"></td>
      
    </tr>
    {% endfor %}
   
  </tbody>
</table>
      </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock %}

 