{% extends 'admin-base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <div class="content-wrapper">
    
    <section class="content container-fluid">
      <div class="manage_admin">
        <div class="add_min d-flex justify-content-between"> 
    <h3>Product List</h3>
    <button class="btn btn-success">Add</button>
    </div>
        <table class="table">
  <thead>
    
    <tr>
      <th scope="col"></th>
      <th scope="col">Product Name</th>
      <th scope="col">Dimension (W / H)</th>
      <th scope="col">Price</th>
      <th scope="col">Process Time</th>
      <th scope="col">Backdrop Type</th>
      <th scope="col"></th>
      <th scope="col">Enable</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1.5m x 2m / 59" x 78"(~5ft x 7ft)</td>
      <td class="d-flex price_asbd"><span><input type="text" class="form-control" placeholder="5"></span>
        <span class="ml-2"><input type="text" class="form-control" placeholder="7"></span>
      </td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="1"></td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="15"></td>
      <td>Regular</td>
      <td>Edit</td>
      <td class="text-center"><input class="check_b" type="checkbox"></td>
      
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>1.5m x 2m / 59" x 78"(~5ft x 7ft)</td>
      <td class="d-flex price_asbd"><span><input type="text" class="form-control" placeholder="5"></span>
        <span class="ml-2"><input type="text" class="form-control" placeholder="7"></span>
      </td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="1"></td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="15"></td>
      <td>Regular</td>
      <td>Edit</td>
      <td class="text-center"><input class="check_b" type="checkbox"></td>
      
    </tr>
   <tr>
      <th scope="row">1</th>
      <td>1.5m x 2m / 59" x 78"(~5ft x 7ft)</td>
      <td class="d-flex price_asbd"><span><input type="text" class="form-control" placeholder="5"></span>
        <span class="ml-2"><input type="text" class="form-control" placeholder="7"></span>
      </td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="1"></td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="15"></td>
      <td>Regular</td>
      <td>Edit</td>
      <td class="text-center"><input class="check_b" type="checkbox"></td>
      
    </tr>
   <tr>
      <th scope="row">1</th>
      <td>1.5m x 2m / 59" x 78"(~5ft x 7ft)</td>
      <td class="d-flex price_asbd"><span><input type="text" class="form-control" placeholder="5"></span>
        <span class="ml-2"><input type="text" class="form-control" placeholder="7"></span>
      </td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="1"></td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="15"></td>
      <td>Regular</td>
      <td>Edit</td>
      <td class="text-center"><input class="check_b" type="checkbox"></td>
      
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>1.5m x 2m / 59" x 78"(~5ft x 7ft)</td>
      <td class="d-flex price_asbd"><span><input type="text" class="form-control" placeholder="5"></span>
        <span class="ml-2"><input type="text" class="form-control" placeholder="7"></span>
      </td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="1"></td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="15"></td>
      <td>Regular</td>
      <td>Edit</td>
      <td class="text-center"><input class="check_b" type="checkbox"></td>
      
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>1.5m x 2m / 59" x 78"(~5ft x 7ft)</td>
      <td class="d-flex price_asbd"><span><input type="text" class="form-control" placeholder="5"></span>
        <span class="ml-2"><input type="text" class="form-control" placeholder="7"></span>
      </td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="1"></td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="15"></td>
      <td>Regular</td>
      <td>Edit</td>
      <td class="text-center"><input class="check_b" type="checkbox"></td>
      
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>1.5m x 2m / 59" x 78"(~5ft x 7ft)</td>
      <td class="d-flex price_asbd"><span><input type="text" class="form-control" placeholder="5"></span>
        <span class="ml-2"><input type="text" class="form-control" placeholder="7"></span>
      </td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="1"></td>
      <td class="price_asbd"><input type="text" class="form-control" placeholder="15"></td>
      <td>Regular</td>
      <td>Edit</td>
      <td class="text-center"><input class="check_b" type="checkbox"></td>
      
    </tr>
  </tbody>
</table>
      </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock %}

 