{% extends 'admin-base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <div class="content-wrapper">

    <section class="content container-fluid">
      
      <div class="manage_admin">
        <div class="add_min d-flex justify-content-between"> 
    <h3>Add Product</h3>
    <a href="javascript:void(0)" class="add_field_button add-product" id="add_new_product"><button class="btn btn-success">Add</button></a>
    </div>
    <form action="{% url 'add_product' %}" method="post">
        {% csrf_token %}
 
 <!-- add table using js  -->
<div id="add_div"></div>
 
<input type="hidden" name="product_box" id="total_product_boxes" value="">

<button type="submit" class="edit  btn btn-success"><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Save</button>
<button class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
      </div>
      </form>
    </section>
    <!-- /.content -->
  </div>
 
 {% endblock %}

  {% block extrascript %}
<script type="text/javascript">
  $('.delete').on('click', function() {
    window.history.back();
  });
</script>
{% endblock %}