{% extends 'admin-base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <div class="content-wrapper">

    <section class="content container-fluid">
     
      <div class="manage_admin">
        <div class="add_min d-flex justify-content-between"> 
    <h3>Edit Product</h3>
    <button class="btn btn-success">Add</button>
    </div>
        <table class="table">
  <thead>
    
    <tr>
     

      <th scope="col">Product Name</th>
      <th scope="col">Dimension (W / H)</th>
      <th scope="col">Weight</th>
      <th scope="col">Price</th>
      <th scope="col">Process Time</th>
      <th scope="col">Type of Backdrop</th>
    </tr>
  </thead>
  <tbody>
     <form action="{% url 'edit_product' product.id %}" method="post">
        {% csrf_token %}
    <tr>
      
      <td><input type="text" class="form-control" name="product_name" placeholder="" value="{{product.product_name}}" ></td>
      <td class="d-flex price_asbd"><span><input type="text" name="width" value="{{product.width}}" class="form-control" placeholder=""></span>
        <span class="ml-2"><input type="text" class="form-control" value="{{product.height}}"  name="height" placeholder=""></span>
      </td>
      <td class="price_asbd"><input type="text" class="form-control" name="weight" placeholder="" value="{{product.weight}}" ></td>
      <td class="price_asbd"><input type="text" class="form-control" value="{{product.price}}"  name="price" placeholder=""></td>
      <td class="price_asbd"><input type="text" class="form-control" value="{{product.process_time}}"  name="process_time" placeholder=""></td>

      <td class="d-flex align-items-center"><div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Regular" {% if product.backdrop_type == "Regular" %} checked {% endif %}>

            <label class="form-check-label" for="exampleRadios1">
              Regular
            </label>
          </div>
          
        <div class="form-check ml-3">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Gree" {% if product.backdrop_type == "Gree" %} checked {% endif %} >
            <label class="form-check-label" for="exampleRadios1">
              Gree
            </label>
            
          </div>
        </td>
      
    </tr>
   
  </tbody>
</table>
<button type="submit" class="edit  btn btn-success"><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Save</button>
<button class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
      </div>
      </form>
    </section>
    <!-- /.content -->
  </div>
 
 {% endblock %}