{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



<style type="text/css">// best seen at 1500px or less

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    width: 6400px;
    bottom: 0;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    bottom: -26px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
</style>

	<section class="forgot_page">
		<!-- <div class="container"> -->
			<!-- {% if messages %}
			{% for message in messages %}
			{{ message }}
			{% endfor %}
				
			{% endif %} -->
			<div class="alert_1">
			<p>Please check your email now to reset your password</p>
		</div>
			
		</div>
</section>
<section class="about_content">
	<div class="container">
		<div class="col-md-7" style="margin: 0 auto;">
		<div class="about_data">
			<form action="forget_password" method="post">
				{% csrf_token %}
			<div class="forgot_password_content">
				<div class="login-area">
					<div class="login_details py-3">
						<h2>Forgot Password</h2>
						<input type="email" class="form-control mt-3" name="forget_email" placeholder="Enter your email" required="">
					</div>
					<div class="d-flex justify-content-center">
						<div class="login_achor_btn mt-3 mr-3" style="border: 0">
							<div class="login-brn">
								<!-- <a href="#">Submit</a> -->
								<button type="submit" class="single_btn submit">Submit</button>
							</div>
						</div>
						<div class="login_achor_btn mt-3" style="border: 0">
							<div class="login-brn">
								<!-- <a href="#">Cancel</a> -->
								<button type="button" class="single_btn">Cancel</button>
							</div>
						</div>
					</div>
				</form>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- animation wave -->
	<section class="about_page">
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
</section>

	

	
	<div class="scroll_page">
		<a href="javascript:" id="return-to-top"><i class="fas fa-long-arrow-alt-up"></i></a>
	</div>

	{% endblock %}