{% load staticfiles %}
<footer class="footer">
		<div class="container-fluid">
		<div class=" align-items-center">
			<div class="row">
			<div class="col-md-12">
			<div class="footer_list_links mt-3 mb-3">
				<ul class="quick-link d-flex flex-wrap justify-content-center">
					<li class="mr-3">
						<a href="#">ABOUT</a>
					</li>
					<li class="mr-3">
						<a href="#why_us">WHY US</a>
					</li>
					<li class="mr-3">
						<a href="#">FAQ</a>
					</li>
					<li class="mr-3">
						<a href="contact.html">CONTACT</a>
					</li>
					<li class="mr-3">
						<a href="#">TERMS</a>
					</li>
					<li class="mr-3">
						<a href="#">PRIVACY</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- <div class="col-md-4">
			<div class="footer-social-icon d-flex">
				<div class="fb_icon mr-3">
					<a href="#">
						<i class="fab fa-facebook-f"></i>
					</a>
				</div>
				<div class="tw_icon mr-3">
					<a href="#">
						<i class="fab fa-twitter"></i>
					</a>
				</div>
				<div class="gplus_icon ">
					<a href="#">
						<i class="fab fa-google-plus-g"></i>	
					</a>
				</div>
			</div>
		</div> -->
	</div>
		</div>
	</div>

	<div class="footer_copyright_links">
		<div class="container-fluid">
				<ul class="d-flex justify-content-center">
					<li class="mr-3">
						<a href="#">© Copyright 2019</a>
					</li>
					<li class="mr-3">
						<a href="#">DOMAIN.COM</a>
					</li>
					<li class="mr-3">
						<a href="#">All Rights Reserved</a>
					</li>
				</ul>
				</div>
			</div>
	</footer>