{% extends 'admin-base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <div class="content-wrapper">
 
    <section class="content container-fluid">
      <h1 class="text-center">Summary</h1>
    <!-- dashboard content -->
      <div class="tt_summary">
        <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count New Buyers<br>Total Y1</p>
        </div>
        <!-- summary 2 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Used Sellers<br>Total Y1</p>
        </div>
        <!-- summary 3 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">New BD Sales<br>Total Y1</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Used Salles<br>Total Y1</p>
        </div>
        <!-- summary 5 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count New BD Sold<br>Total Y1</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count New GD Sold<br>Total Y1</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Used BD Sold<br>Total Y1</p>
        </div>
         <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Discount Used<br>Total Y1</p>
        </div>
         <!-- summary 4 -->
        
         <!-- summary YTD Start-->
        <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count New Buyers<br>Total YTD</p>
        </div>
        <!-- summary 2 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Used Sellers<br>Total Y1</p>
        </div>
        <!-- summary 3 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">New BD Sales<br>Total YTD</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Used Salles<br>Total YTD</p>
        </div>
        <!-- summary 5 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count New BD Sold<br>Total YTD</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count New GD Sold<br>Total YTD</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Used BD Sold<br>Total YTD</p>
        </div>
         <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Discount Used<br>Total YTD</p>
        </div>
         <!-- summary 4 -->
          <!-- summary YTD Start-->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count New Buyers<br>Total This Month</p>
        </div>
        <!-- summary 2 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Used Sellers<br>Total This Month</p>
        </div>
        <!-- summary 3 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">New BD Sales<br>Total This Month</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Used Salles<br>Total This Month</p>
        </div>
        <!-- summary 5 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count New BD Sold<br>Total This Month</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count New GD Sold<br>Post Total Y1</p>
        </div>
        <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Used BD Sold<br>Total This Month</p>
        </div>
         <!-- summary 4 -->
         <div class="Summary_box">
          <h2 class="summary_count">392</h2>
          <p class="summary_head py-0">Count Discount Used<br>Total This Month</p>
        </div>
         <!-- summary 4 -->
         
       
         <!-- summary YTD Start-->
         


        <!-- summary list end -->
      </div>
    </section>
    <!-- /.content -->
  </div>
 
{% endblock %}