{% extends 'admin-base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <div class="content-wrapper">

    <section class="content container-fluid">
      <div class="manage_admin">
        <div class="add_min d-flex justify-content-between"> 
    <h3>Manage Admin</h3>
    <a href="{% url 'add_staff' %}"> <button class="btn btn-success">Add</button></a>
    </div>
        <table class="table">
  <thead>
    
    <tr>
      <th scope="col">Sr.No</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Created On</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
 {% for user in users %}
  <tbody>
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ user.first_name|title }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.groups.all.0|title }}</td>
      <td>{% if user.is_active %}Active{% else %}Inactive{% endif %}</td>
      <td>{{ user.created_at|date:"Y-m-d H:i:s" }}2019-10-07 07:43:20</td>
      <td>
       <a href="{% url 'edit_admin' user.id %}"> <button class="edit  btn btn-primary" data-id="{{ user.id }}"><sapn><i class="fa fa-pencil" aria-hidden="true"></i></sapn> Edit</button> </a>
       <a href="{% url 'delete_admin' user.id %}"> <button class="delete btn btn-danger" data-id="{{ user.id }}"><span><i class="fa fa-trash-o" aria-hidden="true"></i></span> Delete</button> </a>
      </td>
    </tr>
   
  </tbody>
   {% endfor %}
</table>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}